compiler/source-generator/data/srcgen/srcgen.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="typeMode_T">
        <xs:restriction base="xs:string">
            <xs:enumeration value="tag" />
            <xs:enumeration value="abstract" />
            <xs:enumeration value="concrete" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="propMode_T">
        <xs:restriction base="xs:string">
            <xs:enumeration value="normal" />
            <xs:enumeration value="readOnly" />
            <xs:enumeration value="skip" />
            <xs:enumeration value="hide" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="nogenArg_T">
        <xs:restriction base="xs:string">
            <xs:enumeration value="cons" />
            <xs:enumeration value="children" />
            <xs:enumeration value="replace" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="interface_T">
        <xs:attribute name="name" type="xs:string" use="required" />
    </xs:complexType>

    <xs:complexType name="tag_T">
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="typeArg" type="xs:string" use="optional" />
    </xs:complexType>

    <xs:complexType name="abstractProp_T">
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="type" type="xs:string" use="required" />
        <xs:attribute name="typeArg" type="xs:string" use="optional" />
        <xs:attribute name="desc" type="xs:string" use="required" />
        <xs:attribute name="default" type="xs:string" use="optional" />
        <xs:attribute name="allowUnion" type="xs:string" use="optional" default="true" />
    </xs:complexType>

    <xs:complexType name="constant_T">
        <xs:complexContent>
            <xs:extension base="abstractProp_T">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="prop_T">
        <xs:complexContent>
            <xs:extension base="abstractProp_T">
                <xs:attribute name="mode" type="propMode_T" use="optional" default="normal" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="diagnosticProp_T">
        <xs:complexContent>
            <xs:extension base="abstractProp_T">
                <xs:attribute name="mode" type="propMode_T" use="optional" default="normal" />
                <xs:attribute name="messageExpression" type="xs:string" use="optional" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="include_T">
        <xs:attribute name="file" type="xs:string" use="required" />
    </xs:complexType>

    <xs:complexType name="doc_T">
        <xs:simpleContent>
            <xs:extension base="xs:string">
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="code_T">
        <xs:simpleContent>
            <xs:extension base="xs:string">
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="override_T">
        <xs:attribute name="prop" type="xs:string" use="required" />
        <xs:attribute name="expr" type="xs:string" use="required" />
    </xs:complexType>

    <xs:complexType name="nogen_T">
        <xs:attribute name="id" type="nogenArg_T" use="required" />
    </xs:complexType>

    <xs:complexType name="factoryMethod_prop_T">
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="visible" type="xs:boolean" use="optional" default="true" />
    </xs:complexType>

    <xs:complexType name="factoryMethod_useDefaults_T">
    </xs:complexType>

    <xs:complexType name="factoryMethod_T">
        <xs:choice>
            <xs:sequence>
                <xs:element name="prop" type="factoryMethod_prop_T" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
            <xs:sequence>
                <xs:element name="use-defaults" type="factoryMethod_useDefaults_T" />
            </xs:sequence>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="defaults_T">
        <xs:attribute name="typeMode" type="xs:string" use="optional" />
        <xs:attribute name="propertyMode" type="xs:string" use="optional" />
    </xs:complexType>

    <xs:complexType name="factory_T">
        <xs:attribute name="interface" type="xs:string" use="required" />
        <xs:attribute name="class" type="xs:string" use="required" />
        <xs:attribute name="decorator" type="xs:string" use="required" />
    </xs:complexType>

    <xs:complexType name="type_T">
        <xs:sequence>
            <xs:element name="interface" type="interface_T" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="tag" type="tag_T" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="constant" type="constant_T" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="prop" type="prop_T" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="include" type="include_T" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="doc" type="doc_T" />
            <xs:element name="constructorFooter" type="code_T" minOccurs="0" maxOccurs="1" />
            <xs:element name="toString" type="code_T" minOccurs="0" maxOccurs="1" />
            <xs:element name="factory-override" type="override_T" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="constructor-override" type="override_T" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="nogen" type="nogen_T" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="factory-method" type="factoryMethod_T" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="typeParam" type="xs:string" use="optional" />
        <xs:attribute name="super" type="xs:string" use="optional" />
        <xs:attribute name="superTypeArg" type="xs:string" use="optional" />
        <xs:attribute name="mode" type="typeMode_T" use="optional" default="concrete" />
    </xs:complexType>

    <xs:complexType name="diagnosticException_T">
        <xs:sequence>
            <xs:element name="doc" type="doc_T" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
        <xs:attribute name="prop" type="xs:string" use="optional" default="exception" />
    </xs:complexType>

    <xs:complexType name="diagnosticMessageProp_T">
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="expression" type="xs:string" use="required" />
    </xs:complexType>

    <xs:complexType name="diagnostic_T">
        <xs:sequence>
            <xs:element name="exception" type="diagnosticException_T" minOccurs="0" maxOccurs="1" />
            <xs:element name="prop" type="diagnosticProp_T" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="messageProp" type="diagnosticMessageProp_T" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="doc" type="doc_T" />
            <xs:element name="constructorFooter" type="code_T" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="typeParam" type="xs:string" use="optional" />
        <xs:attribute name="super" type="xs:string" use="optional" />
        <xs:attribute name="superTypeArg" type="xs:string" use="optional" />
        <xs:attribute name="code" type="xs:string" use="optional" />
    </xs:complexType>

    <xs:complexType name="userDiagnostic_T">
        <xs:sequence>
            <xs:element name="prop" type="diagnosticProp_T" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="messageProp" type="diagnosticMessageProp_T" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="doc" type="doc_T" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="typeParam" type="xs:string" use="optional" />
        <xs:attribute name="super" type="xs:string" use="optional" />
        <xs:attribute name="superTypeArg" type="xs:string" use="optional" />
        <xs:attribute name="code" type="xs:string" use="optional" />
    </xs:complexType>
    
    <xs:complexType name="outputType_T">
        <xs:attribute name="name" type="xs:string" use="required" />
    </xs:complexType>
    
    <xs:complexType name="parserule_T">
        <xs:sequence>
            <xs:element name="outputType" type="outputType_T" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required" />
    </xs:complexType>

    <xs:complexType name="import_T">
        <xs:attribute name="path" type="xs:string" use="required" />
    </xs:complexType>

    <xs:simpleType name="project_T">
        <xs:restriction base="xs:string">
            <xs:enumeration value="api" />
            <xs:enumeration value="parser" />
            <xs:enumeration value="generator" />
            <xs:enumeration value="bsjutils" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="srcgen_T">
        <xs:choice>
            <xs:sequence>
                <xs:element name="defaults" type="defaults_T" minOccurs="0" maxOccurs="1" />
                <xs:element name="factory" type="factory_T" minOccurs="0" maxOccurs="1" />
                <xs:choice>
                    <xs:sequence>
                        <xs:element name="srcgen" type="srcgen_T" minOccurs="1" maxOccurs="unbounded" />
                    </xs:sequence>
                    <xs:sequence>
                        <xs:element name="type" type="type_T" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:choice>
            </xs:sequence>
            <xs:sequence>
                <xs:element name="diagnostic" type="diagnostic_T" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
            <xs:sequence>
                <xs:element name="userDiagnostic" type="userDiagnostic_T" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
            <xs:sequence>
                <xs:element name="parserule" type="parserule_T" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
            <xs:sequence>
                <xs:element name="import" type="import_T" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:choice>
        <xs:attribute name="ipkg" type="xs:string" use="optional" />
        <xs:attribute name="cpkg" type="xs:string" use="optional" />
        <xs:attribute name="itgt" type="project_T" use="optional" default="api" />
        <xs:attribute name="ctgt" type="project_T" use="optional" default="generator" />
        <xs:attribute name="bsjSpecific" type="xs:boolean" use="optional" default="false" />
    </xs:complexType>

    <xs:element name="srcgen" type="srcgen_T" />
</xs:schema>